<div class="container">
  <div class="row h-100 my-auto justify-content-center align-items-center text-center">

    <form action="/restaurants" method="POST">

      <input type="text" placeholder="中文名稱" name="name" class="mb-2 form-control">
      <input type="text" placeholder="name in English" name="name_en" class="mb-2 form-control">
      <input type="text" placeholder="category" name="category" class="mb-2 form-control">
      <input type="text" placeholder="image" name="image" class="mb-2 form-control">
      <input type="text" placeholder="location" name="location" class="mb-2 form-control">
      <input type="text" placeholder="phone" name="phone" class="mb-2 form-control">
      <input type="text" placeholder="google_map" name="google_map" class="mb-2 form-control">
      <input type="text" placeholder="rating" name="rating" class="mb-2 form-control">
      <input type="text" placeholder="description" name="description" class="mb-2 form-control">

      <button type="submit" class="btn btn-outline-secondary">Create</button>
    </form>

  </div>
</div>